body{
     background-color: lightgray;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     border:10px solid green;
     padding: 150px;
     margin: auto;
      }
     .log a{
        font-style: italic;
}
.open{
    font-size:20px;
    color: mediumblue;
    font-weight: bold;
    margin:10px;
    padding:auto;
    
}
.secend{
    margin:10px;

}
.last{
    font-size: 20px;
    color:green;
}
.conteiner input{
    padding: 10px;
    margin: auto;
    border-width:3px ;
    border-color: lightgreen;
    }
    .btn{
        background-color: green;
        font-weight: bolder;
        font-size: 20px;
    }